<app-cartao>
    <div class="cartao-content">
        <div class="cartao-cabecalho">
            <app-menu-operacoes-ambiente 
                [ambiente]="ambiente" 
                (ambienteModificado)="ambienteModificado.emit()"
                (ambienteDeletado)="ambienteDeletado.emit()"
            >
                <mat-icon>more_vert</mat-icon>
            </app-menu-operacoes-ambiente>
        </div>
        <img [src]="baseUrl + '/imagens/' + ambiente.imagem" 
            alt="Imagem do ambiente" 
            [routerLink]="[ambiente.id]"
        >
        <div class="cartao-info">
            <h3 class="ambiente-nome" [routerLink]="[ambiente.id]">{{ambiente.nome}}</h3>
            <p class="ambiente-localizacao">
                <span class="info-label">Localização: </span>
                {{ambiente.localizacao}}
            </p>
        </div>
    </div>
</app-cartao>