<app-container-principal>
    <h1 class="titulo">Detalhes do item</h1>
    <app-info-item
        [item]="item"
        (itemDeletado)="navegarParaPaginaAnterior()"
        (itemModificado)="buscarItemPeloId()"
    >
    </app-info-item>
    <app-tabela-emprestimos-item
        [emprestimos]="emprestimos.content"
    >

    </app-tabela-emprestimos-item>
    <mat-paginator 
        [length]="emprestimos.totalElements" 
        [pageSizeOptions]="opcaoItensPorPaginaEmprestimos"
        aria-label="Seleciona a página" 
        (page)="atualizarPaginacaoEmprestimos($event)"
    >
    </mat-paginator>
</app-container-principal>