h1 {
    border-left: 6px solid var(--cor-erro);
    padding-left: .5rem;
    margin-bottom: 1rem;
}

.filtros {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
    gap: 20px;
}

.filtro-ambiente {
    width: 24rem;

    mat-form-field {
        width: 100%;
    }
}

@media (max-width:1015px) {

    .filtro-ambiente {
        width: 100%;
    }

}
@media (max-width:576px) {

    .filtros {
        flex-direction: column;
    }
    .filtro-data mat-form-field, .filtro-ambiente mat-form-field {
        width: 100%;
    }

}

