.detalhes-item {
    display: flex;
    gap: 20px;
}

.imagem {
    width: 30rem;
    height: 26rem;
    margin: auto;

    &:hover {
        cursor: pointer;
    }
}

.infos-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    padding: 1rem;
}

.info-item {

    span {
        color: var(--cor-primaria);
        font-size: 1.1rem;
    }

    p {
        font-size: 1.4rem;
    }

}


.verificavel {
    display: flex;
    align-items: center;
    gap: 4px;

    mat-icon {
        color: var(--cor-primaria);
    }

    span {
        font-size: 1.4rem;
    }
}

.menu-operacoes {
    margin-top: auto;
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width:1250px) {
    .detalhes-item {
        flex-direction: column;
    }
}

@media (max-width:460px) {
    .detalhes-item {
        flex-direction: column;
    }

    .imagem {
        width: 100%;
        height: 16rem;
    }
}