<app-container-principal>
    <app-cabecalho-detalhes-compartimento 
        [compartimento]="compartimento" 
        (compartimentoModificado)="buscarCompartimentoPeloID()"
    >
    </app-cabecalho-detalhes-compartimento>
    <div class="cabecalho-itens">
        <h2>Itens do ambiente</h2>
        <div class="cabecalho-itens-botoes">
            <app-botao-acao 
                (botaoAcionado)="abrirDialogCriarItem()"
                [matIcon]="'add'"    
            >
                Novo Item
            </app-botao-acao>
            <app-botao-acao 
                [matIcon]="'assignment'"
            >
                Abrir novo check-list
            </app-botao-acao>
        </div>
       
    </div>
    <app-grid-itens-compartimento
        [itens]="paginaItens.content"
        (itemModificado)="buscarItensPeloCompartimento()"
        (itemDeletado)="buscarItensPeloCompartimento(); buscarCompartimentoPeloID()"
    >
    </app-grid-itens-compartimento>
    <mat-paginator 
        [length]="paginaItens.totalElements" 
        [pageSizeOptions]="opcaoItensPorPagina"
        aria-label="Seleciona a página" 
        (page)="atualizarPaginacao($event)"
    >
    </mat-paginator>
   
</app-container-principal>