.container>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.titulo {
  display: flex;
  align-items: center;
}

.icone {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: var(--cor-primaria);
}

@media (max-width: 640px) {
  .container>div {
    flex-direction: column;
    gap: 10px;
    align-items: normal;
  }

  .subtitulo {
    font-size: .8rem;
  }

}