.menu-operacoes {
  display: flex;
  margin-top: 1rem;
  justify-content: end;
}

.titulo {
  display: flex;
  align-items: center;
}

.icone-titulo {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: var(--cor-destaque);
}

.botao-opcoes {
  display: flex;
  align-items: center;
}

@media (max-width: 640px) {
  .titulo-menu-operacoes {
    flex-direction: column;
    align-items: normal;
    gap: 10px;
  }

  app-menu-operacoes-checklist-ambiente {
    margin-left: auto;
  }
}