<div class="container">
    <app-detalhes-checklist-ambiente
        [checklist]="checklist"
    ></app-detalhes-checklist-ambiente>
    
    <div class="menu-operacoes">
        <app-menu-operacoes-checklist-ambiente 
            [id]="checklist.id!" 
            [status]="checklist.status!"
            (checklistDeletado)="checklistDeletado.emit()" 
            (checklistLiberado)="checklistLiberado.emit()"
            (checklistEncerrado)="checklistEncerrado.emit()"
        >
            <div class="botao-opcoes">
                <mat-icon>expand_more</mat-icon>
                <span>Opções</span>
            </div>
        </app-menu-operacoes-checklist-ambiente>
    </div>


</div>