<div class="container">
    <div class="id-status">
        <p><span class="label">ID: </span>##{{checklist.id}}</p>
        <app-status-checklist-ambiente [status]="checklist.status"></app-status-checklist-ambiente>
    </div>
    <div class="registros">
        <div class="registro">
            <mat-icon class="icone-status icone-abertura">open_in_browser</mat-icon>
            <div>
                <h4>Abertura</h4>
                <div class="registro-item">
                    <span class="label">Data:</span>
                    @if (checklist.dataHoraAbertura) {
                        <p>{{checklist.dataHoraAbertura}}</p>
                    }
                    @else {
                        <p>Pendente</p>
                    }
                </div>
                <div class="registro-item">
                    <span class="label">Responsável:</span>
                    @if (checklist.responsavelAbertura) {
                        <p [matTooltip]="checklist.responsavelAbertura.email">
                            {{checklist.responsavelAbertura.nome}}
                        </p>
                    }
                    @else {
                        <p>Pendente</p>
                    }
                </div>
            </div>
        </div>
        <div class="registro">
            <mat-icon class="icone-status icone-liberacao">check</mat-icon>
            <div>
                <h4>Liberação</h4>
                <div class="registro-item">
                    <span class="label">Data:</span>
                    @if (checklist.dataHoraLiberacao) {
                        <p>{{checklist.dataHoraLiberacao}}</p>
                    }
                    @else {
                        <p>Pendente</p>
                    }
                </div>
                <div class="registro-item">
                    <span class="label">Responsável:</span>
                    @if (checklist.responsavelLiberacao) {
                        <p [matTooltip]="checklist.responsavelLiberacao.email">
                            {{checklist.responsavelLiberacao.nome}}
                        </p>
                    }
                    @else {
                        <p>Pendente</p>
                    }
                       
                </div>
            </div>
        </div>

        <div class="registro">
            <mat-icon class="icone-status icone-encerramento">check</mat-icon>
            <div>
                <h4>Encerramento</h4>
                <div class="registro-item">
                    <span class="label">Data:</span>
                    @if (checklist.dataHoraEncerramento) {
                        <p>{{checklist.dataHoraEncerramento}}</p>
                    }
                    @else {
                        <p>Pendente</p>
                    }
                </div>
                <div class="registro-item">
                    <span class="label">Responsável:</span>
                    @if (checklist.responsavelEncerramento) {
                        <p [matTooltip]="checklist.responsavelEncerramento.email">
                            {{checklist.responsavelEncerramento.nome}}
                        </p>
                    }
                    @else {
                        <p>Pendente</p>
                    }
                       
                </div>
            </div>
        </div>

    </div>
</div>