<div class="container">
    <div class="cartao">
        <div class="cartao-apresentacao">
            <img 
                class="cartao-apresentacao__logo" 
                src="assets/logo-nobg.png" 
                alt="Logo do checkmate"
            >
            <h1>Olá, Bem vindo ao CheckMate</h1>
            <p>Sistema Eletrônico para gestão de Check-List</p>
        </div>
        <form [formGroup]="formulario" class="formulario">
            <img 
                class="formulario__logo" 
                src="assets/logo-nobg.png" 
                alt="Logo checkmate"
            >
            <h2>Alterar senha</h2>
            <span>Email</span>
            <mat-form-field>
                    <input 
                        type="email" 
                        matInput 
                        formControlName="email" 
                        placeholder="Ex. email@email.com"
                    >
                        @if (formulario.get('email')?.hasError('email') 
                        && !formulario.get('email')?.hasError('required')) {
                            <mat-error>Por favor, insira um email válido</mat-error>
                        }
                        @if (formulario.get('email')?.hasError('required')) {
                            <mat-error>O Email é <strong>requerido</strong></mat-error>
                        }
            </mat-form-field>
            <span>Senha Atual</span>
            <mat-form-field>
                    <input 
                    type="password" 
                    matInput 
                    formControlName="senhaAtual" 
                    placeholder="Insira sua senha atual"
                    #inputSenhaAtual
                    >
                    @if(senhaAtualVisivel){
                        <mat-icon matSuffix class="icone-olho" (click)="toggleSenhaAtualVisivel()">visibility</mat-icon>
                    }
                    @else {
                        <mat-icon matSuffix class="icone-olho" (click)="toggleSenhaAtualVisivel()">visibility_off</mat-icon>
                    }
                    @if (formulario.get('senhaAtual')?.hasError('required')) {
                        <mat-error>A senha atual é <strong>requerida</strong></mat-error>
                    }
            </mat-form-field>
            <span>Nova senha</span>
            <mat-form-field>
                    <input 
                    type="password" 
                    matInput 
                    formControlName="novaSenha" 
                    placeholder="Insira sua nova senha"
                    #inputNovaSenha
                    >
                    @if(novaSenhaVisivel){
                        <mat-icon matSuffix class="icone-olho" (click)="toggleNovaSenhaVisivel()">visibility</mat-icon>
                    }
                    @else {
                        <mat-icon matSuffix class="icone-olho" (click)="toggleNovaSenhaVisivel()">visibility_off</mat-icon>
                    }
                    @if (formulario.get('novaSenha')?.hasError('required')) {
                        <mat-error>A nova senha é <strong>requerida</strong></mat-error>
                    }
            </mat-form-field>
            <span>Confirmação de senha</span>
            <mat-form-field>
                    <input 
                    type="password" 
                    matInput 
                    formControlName="confirmacaoSenha" 
                    placeholder="Repita a nova senha"
                    #inputConfirmacaoSenha
                    >
                    @if(confirmacaoSenhaVisivel){
                        <mat-icon matSuffix class="icone-olho" (click)="toggleConfirmacaoSenhaVisivel()">visibility</mat-icon>
                    }
                    @else {
                        <mat-icon matSuffix class="icone-olho" (click)="toggleConfirmacaoSenhaVisivel()">visibility_off</mat-icon>
                    }
                    @if (formulario.get('confirmacaoSenha')?.hasError('required')) {
                        <mat-error>A confirmação da nova senha é <strong>requerida</strong></mat-error>
                    }
            </mat-form-field>
            <div class="espacador"></div>
            <button mat-flat-button (click)="alterarSenha()">Alterar senha</button>
            
            <div class="rodape">
                <p>Desenvolvido por prof. Douglas Ferreira </p>
                <div>
                    <mat-icon>copyright</mat-icon>
                    <span>2025</span>
                </div>
            </div>
        </form>
    </div>
</div>
