<div class="cabecalho">
    <div class="cartao-ambiente">
        <app-cartao-detalhes-ambiente 
            [ambiente]="ambiente" 
            (ambienteModificado)="ambienteModificado.emit()"
            (ambienteDeletado)="navegarParaTelaAmbientes()"
        >
        </app-cartao-detalhes-ambiente>
    </div>

    <div class="cartao-qtd-compartimentos">
        <app-cartao-metrica
            [label]="'Compartimentos no Ambiente'"
            [matIcon]="'ballot'"
            [quantidade]="ambiente.contagemCompartimentos"
            [cor]="'var(--cor-sucesso)'"
        >
        </app-cartao-metrica>
    </div>
    
    <div class="cartao-qtd-itens">
         <app-cartao-metrica
            [label]="'Itens no Ambiente'"
            [matIcon]="'ballot'"
            [quantidade]="ambiente.contagemItens"
            [cor]="'var(--cor-primaria)'"
        >
        </app-cartao-metrica>
    </div>
</div>