.container {
    max-height: calc(100vh - 3rem);
    height: calc(100vh - 3rem);
    color: var(--cor-texto);

    .sidenav {
        width: auto;
        padding: 1rem;
        background-color: var(--cor-secundaria);
        color: white;
        border-radius: 0;

        .lista-links {

            display: flex;
            flex-direction: column;
            gap: 20px;

            .links {
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                padding: 0.5rem;

                &:hover {
                    transform: scale(1.02);
                    opacity: 0.7;
                }
            }
        }
    }

    .sidenav-content {
        min-height: 100%;
        height: auto;
        background-color: var(--cor-de-fundo);
    }
}