.container {
    /* height: calc(100vh - 3rem); */
    height: 100vh;
    color: var(--cor-texto);

    .sidenav {
        width: 15rem;
        height: 100%;
        padding: 1rem;
        background-color: var(--cor-primaria);
        color: white;
        border-radius: 0;

        .logo {
            width: 6rem;
            margin: 0 auto;
        }

    }

    .sidenav-content {
        height: auto;
        min-height: calc(100vh - 3rem);
        background-color: var(--cor-de-fundo);
    }
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

::ng-deep mat-divider {
    border-top-color: white !important;
    margin-top: auto !important;
    margin-bottom: .5rem !important;
}

