@if (!sidenavAberto) {
    <app-toolbar #toolbar (botaoSidenav)="drawer.toggle()"></app-toolbar>
}
<mat-drawer-container class="container" autosize #drawerContainer>
    <mat-drawer #drawer class="sidenav" [mode]="modoSidenav" [opened]="sidenavAberto">
        <img src="../../../assets/logo-nobg.png" alt="Imagem logo" class="logo">

        <app-lista-links
            (fecharSideNavSeModoOver)="fecharSideNavSeModoOver()"
            [ocorrenciasAbertas]="ocorrenciasAbertas"
        >
        </app-lista-links>

        <mat-divider></mat-divider>
        <app-footer></app-footer>
    </mat-drawer>

    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>