.container {
    height: calc(100vh - 3rem);
    color: var(--cor-texto);

    .sidenav {
        width: 13rem;
        padding: 1rem;
        background-color: var(--cor-primaria);
        color: white;
        border-radius: 0;

        .lista-links {

            display: flex;
            flex-direction: column;
            gap: 20px;

            .links {
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                padding: 0.5rem;

            }
        }
    }

    .sidenav-content {
        height: auto;
        min-height: calc(100vh - 3rem);
        background-color: var(--cor-de-fundo);
    }
}

.link-ativo {
    background-color: var(--cor-de-fundo);
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
    color: var(--cor-secundaria);
    font-weight: bold;
}

.link-ativo mat-icon {
    color: var(--cor-secundaria);
}