.cartao-content {
    display: flex;
    justify-content: space-between;
    height: 8rem;
}

.imagem-conteiner {
    width: 8rem;
    min-width: 8rem;
    height: 100%;

    &:hover {
        cursor: pointer;
    }
}

img {
    width: 100%;
    height: 100%;
}

.cartao-info {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:hover {
        cursor: pointer;
    }
}

.item-descricao:hover {
    text-decoration: underline;
    cursor: pointer;
}

.label {
    color: var(--cor-primaria);
    margin-right: .5rem;
}

.item-verificavel {
    display: flex;
    align-items: center;
}

.icone-verificavel {
    color: var(--cor-sucesso);
}

.icone-nao-verificavel {
    color: var(--cor-erro);
}

.menu-operacoes {
    margin-left: auto;
}

@media (max-width: 640px) {
    .cartao-content {
        padding: .5rem;
    }

    .cartao-info {
        padding: .5rem;
    }

    .imagem-conteiner {
        width: 4rem;
        min-width: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        height: auto;
    }

}