.cartao-content {
    display: flex;
    align-items: center;
    height: auto;
    padding: .2rem;
}

.imagem-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 8rem;
    min-width: 8rem;
    height: 100%;
    padding: .5rem;

    &:hover {
        cursor: pointer;
    }
}

img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.cartao-info {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:hover {
        cursor: pointer;
    }
}

.item-descricao:hover {
    text-decoration: underline;
    cursor: pointer;
}

.label {
    color: var(--cor-primaria);
    margin-right: .5rem;
}

.item-verificavel {
    display: flex;
    align-items: center;
}

.icone-verificavel {
    color: var(--cor-sucesso);
}

.icone-nao-verificavel {
    color: var(--cor-erro);
}

.menu-operacoes {
    margin-bottom: auto;
}

@media (max-width: 640px) {
    .cartao-content {
        padding: .5rem;
    }

    .cartao-info {
        padding: .5rem;
    }

    .imagem-conteiner {
        width: auto;
        min-width: auto;
    }

    img {
        height: auto;
        aspect-ratio: 1/1;
    }

}