<div class="container">
    <mat-icon class="icone-status">arrow_forward</mat-icon>
    <div>
        <h4>Entrada</h4>
        <div class="registro">
            <span class="label">Data:</span>
            @if (dataHoraPreenchimento) {
            <p>{{dataHoraPreenchimento}}</p>
            }
            @else {
            <p>Pendente</p>
            }
        </div>
        <div class="registro">
            <span class="label">Responsável:</span>
            @if (executor) {
            <p
                class="link"
                (click)="abrirDadosDoUsuario()"
            >
                {{executor.nome}}
            </p>
            }
            @else {
            <p>Pendente</p>
            }
        </div>
    </div>
</div>