<app-cartao>
    <div 
        class="cartao-content" 
        [routerLink]="['/checklist-ambiente', checklist.id, 'checklists-compartimento']"
    >
        <div class="cabecalho">
            <h3><span class="label">ID:</span> #{{checklist.id}}</h3>
            <app-status-checklist-ambiente [status]="checklist.status">
            </app-status-checklist-ambiente>
        </div>
        <div class="registros">
            <div class="registro">
                <mat-icon class="icone-registro icone-aberto">open_in_browser</mat-icon>
                <div>
                    <span class="label">Abertura</span>
                    @if (checklist.dataHoraAbertura) {
                        {{checklist.dataHoraAbertura | date: 'dd/MM/yyyy HH:mm:ss'}}
                    }
                    @else {
                        <p>Pendente</p>
                    }
                </div>
            </div>
            <div class="registro">
                <mat-icon class="icone-registro icone-liberado">check</mat-icon>
                <div>
                    <span class="label">Liberação</span>
                    @if (checklist.dataHoraLiberacao) {
                        {{checklist.dataHoraLiberacao | date: 'dd/MM/yyyy HH:mm:ss'}}
                    }
                    @else {
                        <p>Pendente</p>
                    }
                </div>
            </div>
            <div class="registro">
                <mat-icon class="icone-registro icone-encerrado">close</mat-icon>
                <div>
                    <span class="label">Encerramento</span>
                    @if (checklist.dataHoraEncerramento) {
                        {{checklist.dataHoraEncerramento | date: 'dd/MM/yyyy HH:mm:ss'}}
                    }
                    @else {
                        <p>Pendente</p>
                    }
                </div>
            </div>
        </div>
    </div>
</app-cartao>