<app-cartao>
    <div class="cartao-content" [ngClass]="{
                                    'status-encerrada': ocorrencia.encerrada,
                                    'status-aberta': !ocorrencia.encerrada
                                }"
    >
        <div class="cartao-cabecalho">
            <div>
                <h2>{{ocorrencia.itemCheckList.item.descricao}}</h2>
                <p>ID: #{{ocorrencia.id}} | Emissor {{ocorrencia.emissor.nome}}</p>
                <p>{{ocorrencia.dataHora}}</p>
            </div>
            <app-status-ocorrencia
                [status]="ocorrencia.encerrada"
            ></app-status-ocorrencia>
        </div>
        <div class="local">
            <p>
                <span class="label">Local: </span> 
                {{ocorrencia.ambiente}} / {{ocorrencia.compartimento}}
            </p>
        </div>
        <div class="detalhes-checklist">

            <div class="detalhe">
                <app-info-itemchecklist-entrada
                    [status]="ocorrencia.itemCheckList.statusEntrada"
                    [observacao]="ocorrencia.itemCheckList.observacaoEntrada"
                >

                </app-info-itemchecklist-entrada>
            </div>
            <div class="detalhe">
                 <app-info-itemchecklist-saida
                [status]="ocorrencia.itemCheckList.statusSaida"
                [observacao]="ocorrencia.itemCheckList.observacaoSaida"
           >
                </app-info-itemchecklist-saida>
            </div>
        </div>
        <div class="rodape">
            <div class="encerramento">
                <span class="label">Encerrado por: </span>
                @if (ocorrencia.responsavelEncerramento) {
                    <p>{{ocorrencia.responsavelEncerramento.nome}}</p>
                }
                @else {
                    <p>Em andamento...</p>
                }
            </div>
            <div class="link-detalhes" [routerLink]="['/ocorrencia', ocorrencia.id]">
                <mat-icon>expand_more</mat-icon>
                <p>detalhes</p>
            </div>

        </div>
    </div>
</app-cartao>