.cartao-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status-encerrada {
    border-left: 6px solid var(--cor-ofuscado);
}

.status-aberta {
    border-left: 6px solid var(--cor-erro);
}

.cartao-cabecalho {
    display: flex;
    justify-content: space-between;
}

.cartao-cabecalho p {
    color: var(--cor-texto-opac-70);
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.local {
    padding: .5rem;
    background-color: var(--cor-ofuscado-opac);
    border-radius: 10px;
}

.label {
    font-weight: bold;
}

.detalhes-checklist {
    display: flex;
    align-items: center;
    gap: 20px;
}

.detalhe {
    flex: 1;
}

.rodape {
    display: flex;
    justify-content: space-between;
}

.encerramento {
    display: flex;
    gap: 10px;
}

.link-detalhes {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--cor-primaria);
    font-weight: bold;
    :hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

@media (max-width:576px) {
    .detalhes-checklist {
        flex-direction: column;
        align-items: start;
    }

    .rodape {
        flex-direction: column;
        gap: 10px;
    }
}