<div class="container">
    <h2 class="titulo">Empréstimos</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="emprestador">
            <th mat-header-cell *matHeaderCellDef> Emprestado por </th>
            <td mat-cell *matCellDef="let element"> {{element.emprestador.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="solicitante">
            <th mat-header-cell *matHeaderCellDef> Solicitante</th>
            <td mat-cell *matCellDef="let element"> {{element.solicitante.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="recebedor">
            <th mat-header-cell *matHeaderCellDef> Recebedor</th>
            <td mat-cell *matCellDef="let element"> 
                @if (element.recebedor) {
                    {{element.recebedor.nome}} 
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="emprestimo">
            <th mat-header-cell *matHeaderCellDef> Empréstimo</th>
            <td mat-cell *matCellDef="let element"> {{element.dataHoraEmprestimo}} </td>
        </ng-container>

        <ng-container matColumnDef="devolucao">
            <th mat-header-cell *matHeaderCellDef> Devolução</th>
            <td mat-cell *matCellDef="let element"> 
                {{element.dataHoraDevolucao}} </td>
        </ng-container>

        <ng-container matColumnDef="devolvido">
            <th mat-header-cell *matHeaderCellDef> Devolvido</th>
            <td mat-cell *matCellDef="let element">
                @if (element.devolvido) {
                    <mat-icon>check_box</mat-icon>
                }
                @else {
                    <mat-icon>check_box_outline_blank</mat-icon>
                }

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>