.container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}

.icone-atencao {
    transform: scale(3);
    color: var(--cor-erro);
}

.mensagem {
    color: var(--cor-texto);
    font-size: 1.5rem;
    text-align: center;
}

.botoes {
    width: 100%;
    display: flex;
    gap: 10px;
}

app-botao-confirmar,
app-botao-cancelar {
    flex: 1;
}

@media (max-width: 680px) {

    .container {
        padding: 2rem 1rem;
    }

    .botoes {
        flex-direction: column;
    }
}