<div class="container">
    <mat-icon class="icone-atencao">warning</mat-icon>
    <p class="mensagem">{{data.texto}}</p>
    <div class="botoes">
        <button class="botao-confirmar" mat-fab extended (click)="dialogRef.close('true')">
            <mat-icon>check</mat-icon>
            Confirmar
        </button>
        <button class="botao-cancelar"mat-fab extended (click)="dialogRef.close('false')">
            <mat-icon>close</mat-icon>
            Cancelar
        </button>
    </div>
</div>