<div class="container">
    <div class="compartimento">
        <mat-icon>ballot</mat-icon>
        <h2>
            {{checklist.compartimento.codigo}} - 
            {{checklist.compartimento.nome}}
        </h2>
    </div>
    <app-detalhes-checklist-compartimento
        [checklist]="checklist"
    ></app-detalhes-checklist-compartimento>
    
    <div class="titulo-menu-operacoes">
        <div class="titulo">
            <mat-icon class="icone-titulo">assignment</mat-icon>
            <h2>Itens de checklist</h2>
        </div>
    </div>
</div>