<app-container-principal>
    <app-titulo 
        [titulo]="'Checklists de Compartimentos'"
        [subtitulo]="'Gerencie os checklists de compartimentos do ambiente'"
    ></app-titulo>
    <app-cabecalho-checklists-compartimento
        [checklist]="checklistAmbiente"
        (checklistDeletado)="navegarParaPaginaAnterior()"
        (botaoAtualizarPressionado)="buscarOcorrencias(); buscarChecklistsCompartimento()"
    >
    </app-cabecalho-checklists-compartimento>
    <app-grid-checklists-compartimento
        [checklists]="checklistsCompartimento"
        [statusChecklistAmbiente]="checklistAmbiente.status!"
    >
    </app-grid-checklists-compartimento>
    <div class="titulo-ocorrencias">
        <mat-icon class="icone-subtitulo">notifications</mat-icon>
        <h2>Ocorrências</h2>
    </div>
    <app-grid-ocorrencias
        [ocorrencias]="ocorrencias"
    >

    </app-grid-ocorrencias>
</app-container-principal>