.toolbar {
    height: 3rem;
    background-color: var(--cor-secundaria);
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

h1 {
    font-weight: bold;
    margin-left: 1rem;
    font-size: 2rem;
}

mat-icon {
    color: white;
    transform: scale(1.5);
}

.usuario-perfil {
    font-size: 1rem;
    margin: 0 .5rem;
    color: var(--cor-destaque);
}

.menu-usuario {
    display: flex;
}

.menu-usuario-nome {
    color: var(--cor-primaria);
}

.menu-usuario-perfil {
    color: var(--cor-destaque);
}

@media (max-width:680px) {
    .usuario-nome {
        display: none;
    }

    .usuario-perfil {
        display: none;
    }
}