:host {
    display: block;
    height: auto;
    padding: 2rem 4rem;
}

@media (max-width:800px) {
    :host {
        padding: 2rem;
    }
}

@media (max-width:576px) {
    :host {
        padding: 1rem;
    }
}