<app-container-principal>
    <app-titulo 
        [titulo]="'Checklist de Saída'"
        [subtitulo]="'Realize o checklist de saída do compartimento'"
    ></app-titulo>
    <app-cabecalho-preenche-checklist
        [checklist]="checklist"
    >
    </app-cabecalho-preenche-checklist>
    <app-formulario-preench-checklist-saida
        [itens]="itensChecklist"
        [statusChecklist]="checklist.status"
        (enviarChecklistForm)="abrirDialogEnviarChecklist($event)"
    >
    </app-formulario-preench-checklist-saida>
</app-container-principal>