<div class="container">
    <mat-form-field class="campo-busca-nome" appearance="outline">
        <mat-label>Buscar pelo nome </mat-label>
        <input 
            matInput 
            type="text" 
            #nomeInput 
            (input)="atualizarNome(nomeInput.value)"
        >
        @if (nomeInput.value) {
        <button matSuffix mat-icon-button aria-label="Clear" 
             (click)="limparBusca(); nomeInput.value = ''"
        >
            <mat-icon>close</mat-icon>
        </button>
        }
    </mat-form-field>
    <app-botao-acao 
        (botaoAcionado)="criarAmbiente.emit()"
        [matIcon]="'add'"
    >
    Novo Ambiente
    </app-botao-acao>
</div>