<ul class="lista-links">
    <li 
        class="links" 
        (click)="fecharSideNavSeModoOver.emit()" 
        routerLink="home" 
        routerLinkActive="link-ativo"
    >
        <mat-icon>bar_chart</mat-icon>
        <span>Dashboard</span>
    </li>
    <li 
        class="links" 
        (click)="fecharSideNavSeModoOver.emit()" 
        routerLink="ambientes" 
        routerLinkActive="link-ativo"
    >
        <mat-icon>store</mat-icon>
        <span>Ambientes</span>
    </li>
    <li 
        class="links" 
        (click)="fecharSideNavSeModoOver.emit()" 
        routerLink="ocorrencias" 
        routerLinkActive="link-ativo"
    >
        <mat-icon 
            [matBadge]="ocorrenciasAbertas" 
            aria-hidden="false"
        >
            notifications
        </mat-icon>
        <span>Ocorrências</span>
    </li>
    @if (usuarioAutenticado.perfil == 'ADMINISTRADOR'
        || usuarioAutenticado.perfil == 'PROFESSOR'
        || usuarioAutenticado.perfil == 'SISTEMA'
    
    ) {
        <li 
            class="links" 
            (click)="fecharSideNavSeModoOver.emit()" 
            routerLink="usuarios" 
            routerLinkActive="link-ativo"
        >
        <mat-icon>group</mat-icon>
        <span>Usuários</span>
        </li>
    }
   
    <li
        class="links" 
        (click)="logout()" 
    >
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
    </li>
</ul>