<ul class="lista-links">
    <li 
        class="links" 
        (click)="fecharSideNavSeModoOver.emit()" 
        routerLink="home" 
        routerLinkActive="link-ativo"
    >
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </li>
    <li 
        class="links" 
        (click)="fecharSideNavSeModoOver.emit()" 
        routerLink="ambientes" 
        routerLinkActive="link-ativo"
    >
        <mat-icon>store</mat-icon>
        <span>Ambientes</span>
    </li>
    <li 
        class="links" 
        (click)="fecharSideNavSeModoOver.emit()" 
        routerLink="ocorrencias" 
        routerLinkActive="link-ativo"
    >
        <mat-icon 
            [matBadge]="ocorrenciasAbertas" 
            aria-hidden="false"
        >
            notifications
        </mat-icon>
        <span>Ocorrências</span>
    </li>
    <li 
        class="links" 
        (click)="fecharSideNavSeModoOver.emit()" 
        routerLink="usuarios" 
        routerLinkActive="link-ativo"
    >
        <mat-icon>group</mat-icon>
        <span>Usuários</span>
    </li>
</ul>