<div class="container">
    <div class="cabecalho">
        <h1 class="titulo">Detalhes do item</h1>
        <mat-icon 
            class="icone-fechar" 
            (click)="dialogRef.close()" 
        >
            close
        </mat-icon>
    </div>

    <div class="infos-item">
        <div class="info-item">
            <span>Descrição do item</span>
            <h2>{{item.descricao}}</h2>
        </div>
        <div class="info-item">
            <span>Compartimento</span>
            <p>{{item.compartimento.codigo}} - {{item.compartimento.descricao}}</p>
        </div>
        <div class="info-item">
            <span>Quantidade</span>
            <p>{{item.quantidade}}</p>
        </div>
        <div class="verificavel">
            @if (item.verificavel) {
            <mat-icon>check_box</mat-icon>
            }
            @else {
            <mat-icon>check_box_outline_blank</mat-icon>
            }
            <span>verificavel</span>
        </div>
    </div>

    <mat-tab-group class="mat-tab-group" animationDuration="0ms">
        <mat-tab label="Empréstimos">
            <app-tabela-emprestimos-item [emprestimos]="emprestimos.content">

            </app-tabela-emprestimos-item>
            <mat-paginator [length]="emprestimos.totalElements" [pageSizeOptions]="opcaoItensPorPaginaEmprestimos"
                aria-label="Seleciona a página" (page)="atualizarPaginacaoEmprestimos($event)">
            </mat-paginator>
        </mat-tab>
        <mat-tab label="Histórico de Check-list">
           <app-grid-itemchecklist
                [itensChecklist]="historicoChecklist.content"
            >

            </app-grid-itemchecklist>
            
            <mat-paginator 
                [length]="historicoChecklist.totalElements" 
                [pageSizeOptions]="opcaoItensPorPaginaHistoricoChecklist"
                aria-label="Seleciona a página" 
                (page)="atualizarPaginacaoHistoricoChecklist($event)"
            >
            </mat-paginator>
        </mat-tab>
    </mat-tab-group>
    
</div>