<app-container-principal>
    <app-cabecalho-checklists-ambiente
        [ambiente]="ambiente"
        (abrirCheckList)="abrirDialogAbrirChecklist()"
    >
    </app-cabecalho-checklists-ambiente>

    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon tab-icon-aberto">open_in_browser</mat-icon>
                Em Aberto
            </ng-template>
            <section class="checklists-content">
                <app-grid-checklists-ambiente
                    [checklists]="paginaChecklistsAbertos.content"
                    [totalElementos]="paginaChecklistsAbertos.totalElements"
                    [opcaoItensPorPagina]="opcaoItensPorPaginaChecklistsAbertos"
                    (atualizarPaginacao)="atualizarPaginacaoChecklistsAbertos($event)"
                    (checklistDeletado)="buscarCheckListsDeAmbienteAbertos()"
                    (checklistLiberado)="buscarCheckListsDeAmbienteAbertos(); buscarCheckListsDeAmbienteLiberados()"
                    ></app-grid-checklists-ambiente>
            </section>

        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon tab-icon-liberado">check</mat-icon>
                Liberado
            </ng-template>
            <section class="checklists-content">
                <app-grid-checklists-ambiente
                    [checklists]="paginaChecklistsLiberados.content"
                    [totalElementos]="paginaChecklistsLiberados.totalElements"
                    [opcaoItensPorPagina]="opcaoItensPorPaginaChecklistsLiberados"
                    (checklistEncerrado)="buscarCheckListsDeAmbienteLiberados(); buscarCheckListsDeAmbienteEncerrados()"
                    ></app-grid-checklists-ambiente>
            </section>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon tab-icon-encerrado">close</mat-icon>
                Encerrado
            </ng-template>
            <section class="checklists-content">
                <app-grid-checklists-ambiente
                    [checklists]="paginaChecklistsEncerrados.content"
                    [totalElementos]="paginaChecklistsEncerrados.totalElements"
                    [opcaoItensPorPagina]="opcaoItensPorPaginaChecklistsEncerrados"
                    ></app-grid-checklists-ambiente>
            </section>
        </mat-tab>
    </mat-tab-group>
</app-container-principal>