.subtitulo {
  display: flex;
  align-items: center;
}

.icone-subtitulo {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: var(--cor-primaria);
}

mat-tab-group {
    margin-top: 2rem;
}

.tab-icon {
    margin-right: .5rem;
}

.tab-icon-aberto {
    color: var(--cor-destaque);
}

.tab-icon-liberado {
    color: var(--cor-sucesso);
}

.tab-icon-encerrado {
    color: var(--cor-ofuscado);
}

.checklists-content {
    margin-top: 3rem;
}

.cabecalho-encerrados {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width:576px) {
    .filtro-data {
        width: 100%;
    }
}
