<app-container-principal>
    <app-cabecalho-checklists-ambiente
        [ambiente]="ambiente"
        (abrirCheckList)="abrirDialogAbrirChecklist()"
    >
    </app-cabecalho-checklists-ambiente>

    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon tab-icon-aberto">open_in_browser</mat-icon>
                Em Aberto
            </ng-template>
            <section class="checklists-content">
                <app-grid-checklists-ambiente
                    [checklists]="paginaChecklistsAbertos.content"
                    [totalElementos]="paginaChecklistsAbertos.totalElements"
                    [opcaoItensPorPagina]="opcaoItensPorPaginaChecklistsAbertos"
                    (atualizarPaginacao)="atualizarPaginacaoChecklistsAbertos($event)"
                    ></app-grid-checklists-ambiente>
            </section>

        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon tab-icon-liberado">check</mat-icon>
                Liberado
            </ng-template>
            <section class="checklists-content">
                <app-grid-checklists-ambiente
                    [checklists]="paginaChecklistsLiberados.content"
                    [totalElementos]="paginaChecklistsLiberados.totalElements"
                    [opcaoItensPorPagina]="opcaoItensPorPaginaChecklistsLiberados"
                    (atualizarPaginacao)="atualizarPaginacaoChecklistsLiberados($event)"
                    ></app-grid-checklists-ambiente>
            </section>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon tab-icon-encerrado">close</mat-icon>
                Encerrado
            </ng-template>
            <section class="checklists-content">
                <div class="cabecalho-encerrados">
                    <mat-form-field class="filtro-data">
                        <mat-label>Filtrar por data</mat-label>
                        <mat-date-range-input [formGroup]="dataRange" [rangePicker]="picker">
                            <input 
                                matStartDate 
                                formControlName="dataInicial" 
                                placeholder="Data inicial"
                            >
                            <input 
                                matEndDate 
                                formControlName="dataFinal" 
                                placeholder="Data final" 
                                (dateChange)="buscarCheckListsDeAmbienteEncerrados()"
                            >
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        @if (dataRange.controls.dataInicial.hasError('matStartDateInvalid')) {
                            <mat-error>Data inicial inválida</mat-error>
                        }
                        @if (dataRange.controls.dataFinal.hasError('matEndDateInvalid')) {
                            <mat-error>Data final inválida</mat-error>
                        }
                    </mat-form-field>

                </div>
                <app-grid-checklists-ambiente
                    [checklists]="paginaChecklistsEncerrados.content"
                    [totalElementos]="paginaChecklistsEncerrados.totalElements"
                    [opcaoItensPorPagina]="opcaoItensPorPaginaChecklistsEncerrados"
                    (atualizarPaginacao)="atualizarPaginacaoChecklistsEncerrados($event)"
                    >
                </app-grid-checklists-ambiente>
            </section>
        </mat-tab>
    </mat-tab-group>
</app-container-principal>