.cartao-content {
    padding: 1rem;
    display: flex;
    gap: 10px;
}

.item-imagem {
    img {
        width: 12rem;
        height: 10rem;
        cursor: pointer;
    }
}

.label {
    font-weight: bold;
}

.detalhes-checklist {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
}

.descricao-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.detalhe {
    flex: 1;
}

@media (max-width:1020px) {
    .cartao-content {
        flex-direction: column;
    }

    .detalhes-checklist {
        flex-direction: column;
    }
}

@media (max-width:640px) {

    img {
        width: 8rem;
        height: 6rem;
    }
}