<div class="container">
    <div class="cartao">
        <div class="cartao-apresentacao">
            <!-- <img class="cartao-apresentacao__logo" src="assets/logo-nobg.png" alt="Logo do checkmate"> -->
            <h1>Opss! Não encontramos essa página</h1>
            <p>Você deve ter digitado algo de errado no campo de endereço do seu navegador</p>
            <app-botao-acao
                [matIcon]="'home'"
                routerLink="/home"
            >
                Acessar página inicial
            </app-botao-acao>
        </div>
        <div class="monstro-container">
            <img class="monstro" src="assets/monstro-404.png" alt="Imagem monstro triste por página não existir">
        </div>
    </div>
</div>