<div class="container">
    <div>
        <div class="detalhe">
            <p><span class="label">ID: </span>#{{ocorrencia.id}}</p>
        </div>
        <div class="detalhe">
            <span class="label">Status: </span>
            <app-status-ocorrencia
                [status]="ocorrencia.encerrada!"
            >
            </app-status-ocorrencia>
        </div>
        <div class="detalhe">
            <span class="label">Data: </span>
            <p>{{ocorrencia.dataHora}}</p>
        </div>
        <div class="detalhe">
            <span class="label">Emissor: </span>
            <p
                class="link"
                (click)="abrirDialogDetalhesDoUsuario(ocorrencia.emissor!.id)"
            >
                {{ocorrencia.emissor!.nome}}
            </p>
        </div>
         <div class="detalhe">
            <span class="label">Ambiente: </span>
            <p
                class="link"
                [routerLink]="['/ambientes', ocorrencia.itemCheckList!.checkListCompartimento.checkListAmbiente.ambiente.id]"
            >
                {{ocorrencia.itemCheckList!.checkListCompartimento.checkListAmbiente.ambiente.nome}}
            </p>
        </div>
    </div>
    <div>
        <div class="detalhe">
            <span class="label">Encerrado por: </span>
            @if (ocorrencia.responsavelEncerramento) {
                <p
                    class="link"
                    (click)="abrirDialogDetalhesDoUsuario(ocorrencia.responsavelEncerramento!.id)"
                >
                    {{ocorrencia.responsavelEncerramento.nome}}
                </p>
            }
            @else {
                <p>Em andamento...</p>
            }
        </div>
        <div class="detalhe">
            <span class="label">Compartimento: </span>
            <p
                class="link"
                [routerLink]="['/compartimentos', ocorrencia.itemCheckList!.checkListCompartimento.compartimento.id]"
            >
                {{ocorrencia.itemCheckList!.checkListCompartimento.compartimento.codigo}} -
                {{ocorrencia.itemCheckList!.checkListCompartimento.compartimento.nome}}
            </p>
        </div>
        <div class="detalhe">
            <span class="label">Checklist Ambiente: </span>
            <p 
                class="link"
                [routerLink]="['/checklist-ambiente', ocorrencia.itemCheckList!.checkListCompartimento.checkListAmbiente.id, 'checklists-compartimento']"
            >
                #{{ocorrencia.itemCheckList!.checkListCompartimento.checkListAmbiente.id}}
            </p>
        </div>
        <div class="detalhe">
            <span class="label">Checklist Compartimento: </span>
            <p>
                #{{ocorrencia.itemCheckList!.checkListCompartimento.id}}
            </p>
        </div>
    </div>
</div>